<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="freeimage" version="3.16.0" targetFramework="Native" />
  <package id="freeimage.redist" version="3.16.0" targetFramework="Native" />
  <package id="freetype" version="2.4.2.1" targetFramework="Native" />
  <package id="freetype.redist" version="2.4.2.1" targetFramework="Native" />
  <package id="glfw" version="3.0.4.3" targetFramework="Native" />
  <package id="glfw.redist" version="3.0.4.3" targetFramework="Native" />
  <package id="glm" version="0.9.5.3" targetFramework="Native" />
  <package id="sfml" version="2.1.0.0" targetFramework="Native" />
  <package id="sfml.redist" version="2.1.0.0" targetFramework="Native" />
</packages>